# Environment variables
.env
.env.local
*.env

# Archives
*.rar
*.zip
*.tar.gz

# IDE and System Files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Build and Dependencies
node_modules/
build/
dist/
.dart_tool/
.packages
.pub-cache/
.pub/
